$primary-color: hsl(238, 29%, 16%);
$primary-accent: hsl(14, 88%, 65%);

$secondary-color: hsl(273, 75%, 66%);
$secondary-accent-color: hsl(240, 73%, 65%);

$primary-text-color: hsl(237, 12%, 33%);
$secondary-text-color: hsl(240, 6%, 50%);

$divider-color: hsl(240, 5%, 91%);

$white: #fff;

$font-size-default: 12px;
$font-weight-thin: 400;
$font-weight-bold: 700;

$font-family: 'Kumbh Sans', sans-serif;
