@import '../styles/shared';

.FaqItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid $divider-color;

  .Item-Content {
    margin: 1.3rem 0;
  }

  p {
    padding: .1rem 0;
    line-height: 1.5rem;
    &:first-child {
      color: $primary-text-color;
    }
    &:nth-child(2) {
      color: $secondary-text-color;
    }
  }

}

.rotateUp {
  transform: rotate(-180deg);
}


/*
  ## Device = Mobile
  ## Screen = 375px
*/
@media (min-width: 375px) {
  .FaqItem {
    p {
      &:first-child {
        font-size: 1.2rem;
      }
      &:nth-child(2) {
        font-size: 1rem;
      }
    }
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1440px 
*/
@media (min-width: 1440px) {
  .FaqItem {
    p {
      &:first-child {
        font-size: 1.4rem;
      }
      &:nth-child(2) {
        font-size: 1.2rem;
      }
    }
  }
}